{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/RnodeC" >Check us out on Github</a>
    <p>Includes all of our scripts, tools, and templates we use for managing our nodes</p>
  </div>
  <div id="rnodec">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Experienced</h3>
        <p>Have successfully ran nodes on multiple chains</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Reliable</h3>
        <p>Heart and Effort are pillars of RnodeC</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/bear.png" | relURL }}" width="48">
        </figure>
        <h3>Integrated</h3>
        <p>Teamwork makes the Dream work</p>
      </div>
    </div>



  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
