{{ define "main" }}
<script src="https://kit.fontawesome.com/9d411d3395.js" crossorigin="anonymous"></script>
<style>
.row {
  display: flex;
}

.column {
  flex: 33%;
  margin: 1px;
  padding: 20px;
  text-align: center;
}

</style>

<div>
  <p>We are a small team of passionate node operators, developers, and dreamers. We ride around. We get it. Here to contribute and do our duty.</p>
</div>
<div class="row">
  <div class="column">
    <h3>Experienced</h3>
    <p>Have Ran Nodes on Multiple Chains</p>
    <p class="fa-solid fa-shield-halved fa-6x"></p>
  </div>
  <div class="column">
    <h3>Integrated</h3>
    <p>Teamwork Makes the Dream Work</p>
    <p class="fa-solid fa-link fa-6x"></p>
  </div>
  <div class="column">             
    <h3>Reliable</h3>
    <p>Heart and Effort are Pillars of RnodeC</p>
    <p class="fa-solid fa-tree-city fa-6x"></p>
  </div>

{{ end }}
